# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.ue_course_part_1.iml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
